#aircraft{font-size:20px;color : #AD8BD3;}
#battle{font-size:20px;color : #8BD3C8;}
#submarine{font-size:20px;color : #D3D38B;}
#cruiser{font-size:20px;color : #828893;}
#destroyer{font-size:20px;color : #98D38B;}